.wrapper {
  /* background-image: url('images/portfolios-woods.jpg');
  background-size:cover; */
  background-color: white;
  /* height:60vh; */
}

#contact, #skills, #projects {
  margin-bottom: 5em;
}

.jumbotron {
  height:50vh;
  padding-top: 2em;
  background-color: white;
}


#skills row {
  margin-bottom: 5em;
}

.skills-grid{
  display:grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap:2em;
}

#projects .col-lg-4.col-md-6.bg-light {
  padding:2px;
}

.project-container img {
  width:100%;
}

a img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}



#contact h2, #skills h2, .jumbotron{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.navbar-nav {
font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand, .say-hello p {
  font-size: 2.5rem;
  font-family: 'Dawning of a New Day', cursive;
}

.fa-github-square:hover {
  color:red;
}


nav {
  background:transparent;
}


.modal-body .row {
  padding-top: 2em;
  padding-bottom: 2em;
}
.image-description {
  text-align: center;
}

.footer {
  height:60vh;
  /* background-color:#668e8a; */
}

.foot-icons {
  text-align: center;
  color:#fff;
}

.bottom-footer {
  color:white;
  height:20vh;
  width:100%;

  }
